<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'M月D日'}) %>
      <%- partial('post/title', {class_name: 'archive-article-title'}) %>
    </header>
    <footer class="archive-article-footer">
      <%- partial('post/tag', {class_name: 'archive-article-tag'}) %>
    </footer>
    </div>
</article>
